<div class="py-5">

    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Shorten Url</h3>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <label for="uname1">Long Url</label>
                <input type="text"  name="email" [(ngModel)]="urlData.longUrl" class="form-control rounded-0" required>
              </div>
              
              <button type="button" (click)="shortenurl()" class="btn btn-primary float-right">Short url</button>
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
  
      </div>
  
  
    </div>
    <div class="mt-5 col-md-6 mx-auto">
    <h5 class=""  id="response" class="text-success" ></h5></div>
    
  </div>
