<table class="table">
    <thead >
      <tr>
        
        <th scope="col-4">longUrl</th>
        <th scope="col-4">Counter</th>
        <th scope="col-4">ShortUrl</th>
        <th scope="col-4">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stat of stats">
        
        <td class="col-4">{{stat.longUrl}}</td>
        <td class="col-4">{{stat.count}}</td>
        <td class="col-4">{{stat.shortUrl}}</td>
        <td class="col-4">{{stat.date}}</td>
      </tr>
      
    </tbody>
  </table>